# Book Recommender System in Tensorflow

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn import preprocessing
from sklearn.metrics import precision_score
from sklearn.model_selection import train_test_split
from sqlalchemy import create_engine

In [2]:
k = 50

epochs = 10
display_step = 10

learning_rate = 0.3

batch_size = 25

### Reading Dataset and splitting it in a training set and a test set

In [3]:
sql = 'SELECT user_id, book_id, rating, date_created FROM public."Reviews"'

engine = create_engine('postgresql://ece651_ml:TVL3MV0mguz0DOhLbbm2@localhost:5432/ece651')

# Reading dataset

df = pd.pandas.read_sql(sql, engine)

y = df.date_created
df = df.drop('date_created', axis=1)

df.columns = ['user', 'book', 'rating']

X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.2)

train_data = X_train
test_data = X_test

num_books = df.book.nunique()
num_users = df.user.nunique()

print("USERS: {} BOOKS: {}".format(num_users, num_books))
print(df.head(5))

USERS: 148 BOOKS: 48
   user  book  rating
0  2292   360       5
1  2293   360       5
2  2294   360       5
3  2297   655       4
4  2295   360       5

### Loading training set with three columns: user, book and ratings

In [4]:
# Normalize in [0, 1]

u = df['user'].values.astype(float)

user_min = u.min()
user_range = u.max() - u.min()

min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(u.reshape(-1,1))
df_normalized = pd.DataFrame(x_scaled)
df['user'] = df_normalized


b = df['book'].values.astype(float)

book_min = b.min()
book_range = b.max() - b.min()

min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(b.reshape(-1,1))
df_normalized = pd.DataFrame(x_scaled)
df['book'] = df_normalized

r = df['rating'].values.astype(float)

rating_min = r.min()
rating_range = r.max() - r.min()

min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(r.reshape(-1,1))
df_normalized = pd.DataFrame(x_scaled)
df['rating'] = df_normalized

### Convert DataFrame in user-item matrix

In [5]:
matrix = df.pivot(index='user', columns='book', values='rating')
matrix.fillna(0, inplace=True)

### Users and items ordered as they are in matrix

In [6]:
users = matrix.index.tolist()
books = matrix.columns.tolist()

matrix = matrix.values

print("Matrix shape: {}".format(matrix.shape))

Matrix shape: (148, 48)

### Network Parameters

In [7]:
num_input = num_books   # num of items
num_hidden_1 = 10       # 1st layer num features
num_hidden_2 = 5        # 2nd layer num features (the latent dim)

X = tf.placeholder(tf.float64, [None, num_input])

weights = {
    'encoder_h1': tf.Variable(tf.random_normal([num_input, num_hidden_1], dtype=tf.float64)),
    'encoder_h2': tf.Variable(tf.random_normal([num_hidden_1, num_hidden_2], dtype=tf.float64)),
    'decoder_h1': tf.Variable(tf.random_normal([num_hidden_2, num_hidden_1], dtype=tf.float64)),
    'decoder_h2': tf.Variable(tf.random_normal([num_hidden_1, num_input], dtype=tf.float64)),
}

biases = {
    'encoder_b1': tf.Variable(tf.random_normal([num_hidden_1], dtype=tf.float64)),
    'encoder_b2': tf.Variable(tf.random_normal([num_hidden_2], dtype=tf.float64)),
    'decoder_b1': tf.Variable(tf.random_normal([num_hidden_1], dtype=tf.float64)),
    'decoder_b2': tf.Variable(tf.random_normal([num_input], dtype=tf.float64)),
}

### Building the encoder

In [8]:
def encoder(x):
    # Encoder Hidden layer with sigmoid activation #1
    layer_1 = tf.nn.sigmoid(tf.add(tf.matmul(x, weights['encoder_h1']), biases['encoder_b1']))
    # Encoder Hidden layer with sigmoid activation #2
    layer_2 = tf.nn.sigmoid(tf.add(tf.matmul(layer_1, weights['encoder_h2']), biases['encoder_b2']))
    return layer_2

### Building the decoder

In [9]:
def decoder(x):
    # Decoder Hidden layer with sigmoid activation #1
    layer_1 = tf.nn.sigmoid(tf.add(tf.matmul(x, weights['decoder_h1']), biases['decoder_b1']))
    # Decoder Hidden layer with sigmoid activation #2
    layer_2 = tf.nn.sigmoid(tf.add(tf.matmul(layer_1, weights['decoder_h2']), biases['decoder_b2']))
    return layer_2

### Construct model

In [10]:
encoder_op = encoder(X)
decoder_op = decoder(encoder_op)

### Prediction

In [11]:
y_pred = decoder_op

### Targets are the input data.

In [12]:
y_true = X

### Define loss and optimizer, minimize the squared error

In [13]:
loss = tf.losses.mean_squared_error(y_true, y_pred)
optimizer = tf.train.RMSPropOptimizer(learning_rate).minimize(loss)

predictions = pd.DataFrame()

### Define evaluation metrics

In [14]:
eval_x = tf.placeholder(tf.int32, )
eval_y = tf.placeholder(tf.int32, )
pre, pre_op = tf.metrics.precision(labels=eval_x, predictions=eval_y)

### Initialize the variables

In [15]:
init = tf.global_variables_initializer()
local_init = tf.local_variables_initializer()

### Train the Model

In [16]:
with tf.Session() as session:
    session.run(init)
    session.run(local_init)

    num_batches = int(matrix.shape[0] / batch_size)
    matrix = np.array_split(matrix, num_batches)

    for i in range(epochs):

        avg_cost = 0

        for batch in matrix:
            _, l = session.run([optimizer, loss], feed_dict={X: batch})
            avg_cost += l

        avg_cost /= num_batches

        print("Epoch: {} Loss: {}".format(i + 1, avg_cost))

        # if i % display_step == 0 or i == 1:
        #     print('Step %i: Minibatch Loss: %f' % (i, l))

    print("Predictions...")

    matrix = np.concatenate(matrix, axis=0)

    preds = session.run(decoder_op, feed_dict={X: matrix})

    # print(matrix)
    # print(preds)
    
    predictions = predictions.append(pd.DataFrame(preds))

    predictions = predictions.stack().reset_index(name='rating')
    predictions.columns = ['user', 'book', 'rating']
    predictions['user'] = predictions['user'].map(lambda value: users[value])
    predictions['book'] = predictions['book'].map(lambda value: books[value])

    print(predictions)
    print(predictions.shape)
    
    keys = ['user', 'book']
    i1 = predictions.set_index(keys).index
    i2 = df.set_index(keys).index

    recs = predictions[~i1.isin(i2)]
    recs = recs.sort_values(['user', 'rating'], ascending=[True, False])
    recs = recs.groupby('user').head(k)
    recs.to_csv('prediction.csv', sep=',', index=False, header=False)

Epoch: 1 Loss: 0.3135050177574158
Epoch: 2 Loss: 0.3073942303657532
Epoch: 3 Loss: 0.2996737420558929
Epoch: 4 Loss: 0.29001798033714293
Epoch: 5 Loss: 0.27809120416641236
Epoch: 6 Loss: 0.2635666251182556
Epoch: 7 Loss: 0.246157768368721
Epoch: 8 Loss: 0.22572847902774812
Epoch: 9 Loss: 0.202572825551033
Epoch: 10 Loss: 0.1777025729417801
Predictions...
      user      book    rating
0      0.0  0.000000  0.307350
1      0.0  0.167143  0.222597
2      0.0  0.176429  0.235368
3      0.0  0.177857  0.109023
4      0.0  0.180000  0.204449
5      0.0  0.181429  0.322745
6      0.0  0.182857  0.435355
7      0.0  0.211429  0.406789
8      0.0  0.377857  0.221879
9      0.0  0.378571  0.446230
10     0.0  0.382857  0.242514
11     0.0  0.383571  0.010432
12     0.0  0.384286  0.210606
13     0.0  0.388571  0.046564
14     0.0  0.389286  0.963894
15     0.0  0.390714  0.292323
16     0.0  0.391429  0.275621
17     0.0  0.392143  0.213142
18     0.0  0.393571  0.494022
19     0.0  0.465000  0.989830
20     0.0  0.465714  0.171388
21     0.0  0.466429  0.514966
22     0.0  0.467143  0.464818
23     0.0  0.467857  0.203591
24     0.0  0.472143  0.373619
25     0.0  0.472857  0.197374
26     0.0  0.473571  0.305622
27     0.0  0.474286  0.217850
28     0.0  0.475000  0.301201
29     0.0  0.476429  0.218665
...    ...       ...       ...
7074   1.0  0.393571  0.470609
7075   1.0  0.465000  0.988825
7076   1.0  0.465714  0.138289
7077   1.0  0.466429  0.454823
7078   1.0  0.467143  0.373091
7079   1.0  0.467857  0.228349
7080   1.0  0.472143  0.460202
7081   1.0  0.472857  0.169236
7082   1.0  0.473571  0.261786
7083   1.0  0.474286  0.186153
7084   1.0  0.475000  0.275548
7085   1.0  0.476429  0.301077
7086   1.0  0.477857  0.305431
7087   1.0  0.478571  0.076644
7088   1.0  0.479286  0.326105
7089   1.0  0.493571  0.187098
7090   1.0  0.503571  0.483635
7091   1.0  0.507143  0.257468
7092   1.0  0.551429  0.311120
7093   1.0  0.552143  0.213085
7094   1.0  0.556429  0.935807
7095   1.0  0.557143  0.033582
7096   1.0  0.774286  0.123799
7097   1.0  0.844286  0.831500
7098   1.0  0.891429  0.776144
7099   1.0  0.898571  0.068641
7100   1.0  0.899286  0.228394
7101   1.0  0.900714  0.236377
7102   1.0  0.924286  0.212645
7103   1.0  1.000000  0.246399

[7104 rows x 3 columns]
(7104, 3)

In [17]:
recs['user'] = recs['user'] * user_range + user_min
recs['book'] = recs['book'] * book_range + book_min

recs.sort_values(['user', 'rating'], ascending=[True, False])

        user    book    rating
19       1.0   777.0  0.989830
14       1.0   671.0  0.963894
38       1.0   905.0  0.938429
21       1.0   779.0  0.514966
18       1.0   677.0  0.494022
34       1.0   831.0  0.487434
22       1.0   780.0  0.464818
9        1.0   656.0  0.446230
6        1.0   382.0  0.435355
7        1.0   422.0  0.406789
32       1.0   797.0  0.375230
24       1.0   787.0  0.373619
30       1.0   795.0  0.325405
5        1.0   380.0  0.322745
36       1.0   898.0  0.309522
0        1.0   126.0  0.307350
26       1.0   789.0  0.305622
28       1.0   791.0  0.301201
15       1.0   673.0  0.292323
16       1.0   674.0  0.275621
35       1.0   836.0  0.273799
37       1.0   899.0  0.253582
10       1.0   662.0  0.242514
2        1.0   373.0  0.235368
1        1.0   360.0  0.222597
8        1.0   655.0  0.221879
29       1.0   793.0  0.218665
27       1.0   790.0  0.217850
17       1.0   675.0  0.213142
12       1.0   664.0  0.210606
...      ...     ...       ...
7085  2533.0   793.0  0.301077
7071  2533.0   673.0  0.282832
7068  2533.0   664.0  0.278676
7084  2533.0   791.0  0.275548
7082  2533.0   789.0  0.261786
7091  2533.0   836.0  0.257468
7066  2533.0   662.0  0.256637
7103  2533.0  1526.0  0.246399
7073  2533.0   675.0  0.244267
7060  2533.0   378.0  0.239968
7101  2533.0  1387.0  0.236377
7100  2533.0  1385.0  0.228394
7079  2533.0   781.0  0.228349
7072  2533.0   674.0  0.220662
7093  2533.0   899.0  0.213085
7102  2533.0  1420.0  0.212645
7058  2533.0   373.0  0.209429
7057  2533.0   360.0  0.207158
7089  2533.0   817.0  0.187098
7083  2533.0   790.0  0.186153
7064  2533.0   655.0  0.183392
7081  2533.0   788.0  0.169236
7076  2533.0   778.0  0.138289
7059  2533.0   375.0  0.126144
7096  2533.0  1210.0  0.123799
7087  2533.0   796.0  0.076644
7099  2533.0  1384.0  0.068641
7069  2533.0   670.0  0.047564
7095  2533.0   906.0  0.033582
7067  2533.0   663.0  0.010721

[6870 rows x 3 columns]

In [18]:
recs.loc[recs['user'] == 2380]

        user    book    rating
3523  2380.0   777.0  0.987779
3518  2380.0   671.0  0.973378
3542  2380.0   905.0  0.945409
3545  2380.0  1308.0  0.821209
3546  2380.0  1374.0  0.754919
3538  2380.0   831.0  0.539009
3525  2380.0   779.0  0.520358
3528  2380.0   787.0  0.441038
3513  2380.0   656.0  0.419657
3530  2380.0   789.0  0.362183
3504  2380.0   126.0  0.335976
3526  2380.0   780.0  0.334942
3541  2380.0   899.0  0.334105
3509  2380.0   380.0  0.332013
3506  2380.0   373.0  0.332013
3551  2380.0  1526.0  0.329388
3516  2380.0   664.0  0.324161
3536  2380.0   797.0  0.309077
3511  2380.0   422.0  0.305752
3512  2380.0   655.0  0.293469
3519  2380.0   673.0  0.288241
3521  2380.0   675.0  0.260444
3534  2380.0   795.0  0.258667
3550  2380.0  1420.0  0.256554
3531  2380.0   790.0  0.256363
3532  2380.0   791.0  0.253761
3539  2380.0   836.0  0.248378
3540  2380.0   898.0  0.248337
3520  2380.0   674.0  0.235237
3508  2380.0   378.0  0.219230
3529  2380.0   788.0  0.216151
3537  2380.0   817.0  0.211602
3505  2380.0   360.0  0.210566
3548  2380.0  1385.0  0.193162
3527  2380.0   781.0  0.168031
3549  2380.0  1387.0  0.165351
3533  2380.0   793.0  0.143453
3524  2380.0   778.0  0.130292
3544  2380.0  1210.0  0.083164
3535  2380.0   796.0  0.054011
3547  2380.0  1384.0  0.036382
3543  2380.0   906.0  0.024050
3515  2380.0   663.0  0.012645

In [19]:
recs.loc[recs['user'] == 2380]['book'].shape

(43,)

In [20]:
user_2380_top = recs.loc[recs['user'] == 2380]

expected_2380_book_ids = [382,670,662,375,677];
for x in expected_2380_book_ids:
    if x not in user_2380_top['book'].values.round(): 
        print(f'Couldn\'t find {x} for user 2380')

Couldn't find 382 for user 2380
Couldn't find 670 for user 2380
Couldn't find 662 for user 2380
Couldn't find 375 for user 2380
Couldn't find 677 for user 2380

In [21]:
recs.loc[recs['user'] == 1]

    user   book    rating
19   1.0  777.0  0.989830
14   1.0  671.0  0.963894
38   1.0  905.0  0.938429
21   1.0  779.0  0.514966
18   1.0  677.0  0.494022
34   1.0  831.0  0.487434
22   1.0  780.0  0.464818
9    1.0  656.0  0.446230
6    1.0  382.0  0.435355
7    1.0  422.0  0.406789
32   1.0  797.0  0.375230
24   1.0  787.0  0.373619
30   1.0  795.0  0.325405
5    1.0  380.0  0.322745
36   1.0  898.0  0.309522
0    1.0  126.0  0.307350
26   1.0  789.0  0.305622
28   1.0  791.0  0.301201
15   1.0  673.0  0.292323
16   1.0  674.0  0.275621
35   1.0  836.0  0.273799
37   1.0  899.0  0.253582
10   1.0  662.0  0.242514
2    1.0  373.0  0.235368
1    1.0  360.0  0.222597
8    1.0  655.0  0.221879
29   1.0  793.0  0.218665
27   1.0  790.0  0.217850
17   1.0  675.0  0.213142
12   1.0  664.0  0.210606
4    1.0  378.0  0.204449
23   1.0  781.0  0.203591
25   1.0  788.0  0.197374
33   1.0  817.0  0.177693
20   1.0  778.0  0.171388
3    1.0  375.0  0.109023
31   1.0  796.0  0.065174
13   1.0  670.0  0.046564
39   1.0  906.0  0.025573
11   1.0  663.0  0.010432

In [22]:
recs.loc[recs['user'] == 1]['book'].shape

(40,)

In [23]:
user_1_top = recs.loc[recs['user'] == 1].head(10)

expected_1_book_ids = [1387,1374,1420,1526,1308,1384,1210,1385];
for x in expected_1_book_ids:
    if x not in user_1_top['book'].values.round(): 
        print(f'Couldn\'t find {x} for user 1')

Couldn't find 1387 for user 1
Couldn't find 1374 for user 1
Couldn't find 1420 for user 1
Couldn't find 1526 for user 1
Couldn't find 1308 for user 1
Couldn't find 1384 for user 1
Couldn't find 1210 for user 1
Couldn't find 1385 for user 1